.pop-up {
	display: none;
	/*height: 100%;
	width: 100%;
	background-color: rgba(114, 114, 112, .72);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;*/
}
.modal-form {
	position: relative;
	padding: 20px;
	width: 320px;
	border-radius: 5px;
	border: 1px solid #b5b5b5;
	box-shadow: 0 10px 20px -10px #222;
	background: #fbfbfa;
  background: -moz-linear-gradient(top,  #fbfbfa 0%, #f0eeed 100%);
  background: -webkit-linear-gradient(top,  #fbfbfa 0%,#f0eeed 100%);
  background: linear-gradient(to bottom,  #fbfbfa 0%,#f0eeed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfa', endColorstr='#f0eeed',GradientType=0 );
  margin: 0 50%;
  left: -181px;
/*  top: 130px;*/
}
.project-name,
.project-pic,
.project-url,
.project-desc {
	display: block;
	background-color: #f8f8f9;
	border: 1px solid #d6d5d3;
	border-radius: 4px;
	outline: none;
	width: 310px;
	line-height: 37px;
	padding-left: 8px;
	margin-bottom: 9px;
}
.project-name:focus,
.project-pic:focus,
.project-url:focus,
.project-desc:focus {
	box-shadow: 0 0 3px 0 #ad8871;
}
.project-desc {
	height: 105px;
}
.project-add {
	margin: 13px auto 6px auto;
	width: 124px;
	display: block;
}
.icon-cancel {
	text-decoration: none;
	display: block;
	color: #797777;
	position: absolute;
	top: 0;
	right: 0;
}
.modal-form-title {
	color: #f8f7f6;
	font-size: 12px;
	position: absolute;
	left: 22px;
	top: -33px;
}
.input {
	display: block;
	height: 41px;
	color: #c7c6c6;
	background-color: #f8f8f9;
	border: 1px solid #d6d5d3;
	border-radius: 4px;
	outline: none;
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	font-size: 12px;
	width: 100%;
	padding: 12px 12px;
}
.input:focus {
	box-shadow: 0 0 3px 0 #ad8871;
}
.label {
	font-size: 14px;
	font-weight: normal;
	color: #727070;
	display: block;
	margin-bottom: 7px;
}
.fileupload-wrapper {
  	width: 100%;
  	position: relative;
  	margin-bottom: 10px;
}
.fileupload-lable {
	display: block;
  	width: 52px;
  	height: 39px;
	position: absolute;
  	right: 0;
	background: #fcfcfc;
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #e5e3e2 100%);
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#e5e3e2 100%);
    background: linear-gradient(to bottom,  #fcfcfc 0%,#e5e3e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#e5e3e2',GradientType=0 );
	border-radius: 0 4px 4px 0;
	border: 1px solid #bdbdbd;
	line-height: 39px;
}
.fileupload-lable:before {
	font-size: 25px;
	color: #727070;
	vertical-align: middle;
	margin-left: 13px !important;
}
.fileupload {
	border: 0;
  	clip: rect(0 0 0 0);
  	height: 1px;
  	margin: -1px;
  	overflow: hidden;
  	padding: 0;
  	position: absolute;
  	width: 1px;
}
.message-frame {
	border-radius: 4px;
	padding: 8px;
}
.error-mes {
	display: none;
	margin-bottom: 10px;
}
.error-mes .message-frame {
	border: 1px solid #cb6945;
	background-color: #e9c8bc;
}
.error-mes .message-title,
.error-mes .message-text {
	color: #cb6945;
}
.success-mes {
	display: none;
	z-index: 999;
	top: 175px;
	left: -1px;
	padding: 20px;
	width: 320px;
	border: 1px solid #b5b5b5;
	border-radius: 4px;
	box-shadow: 0 10px 20px -10px #222;
	background: #fbfbfa;
  background: -moz-linear-gradient(top,  #fbfbfa 0%, #f0eeed 100%);
  background: -webkit-linear-gradient(top,  #fbfbfa 0%,#f0eeed 100%);
  background: linear-gradient(to bottom,  #fbfbfa 0%,#f0eeed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfa', endColorstr='#f0eeed',GradientType=0 );
  position: absolute;
}
.success-mes .message-frame {
	border: 1px solid #49bb7b;
	background-color: #bde2cc;
}
.success-mes .message-title,
.success-mes .message-text {
	color: #49bb7b;
}
.message-title {
	display: block;
	font-weight: 600;
	font-size: 16px;
}
.message-text {
	display: block;
	font-size: 14px;
}